@media (max-width: 575.98px) {
    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
        text-align: center;
    }

    .banner-img{
        width: 80vw;
    }

   .about-right{
        margin-top: 2rem
    }

    .about img{
        width: 60vw;
        margin: auto;
        display: block;
    }

    .about hr{
        border-top: 4px solid #536DFE;
        width: 9rem;
        margin-bottom: 2rem;
    }

    .skill{
        margin-top: 1rem;
    }

    .skill .row{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .skill h3{
        font-weight: bold;
        text-align: center;
    }
    
    .skill hr{
        border-top: 4px solid #536DFE;
        width: 6rem;
        margin-bottom: 2rem;
    }
    
    .skill img{
        width: 80vw;
        margin: auto;
        display: block;
    }
    .skill-left{
        margin-top: 2rem;
    }
    
    .skill-left img{
        width: 20vw;
        display: block;
        margin: auto;
    }
    
    
    .skill-left p{
        text-align: justify;
    }
    
    .skill-left h5{
        font-size: 12px;
        font-weight: bold;
        text-align: center;
    }

    .skill-left .row{
        margin-top: 4rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .portofolio{
        margin-top: 3rem;
    }
    
    .portofolio h3{
        font-weight: bold;
        text-align: center;
    }
    
    .portofolio hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .portofolio img{
        width: 90vw;
        margin: auto;
        display: block;
    }

    .contact{
        margin-top: 3rem;
    }
    
    .contact h3{
        font-weight: bold;
        text-align: center;
    }
    
    .contact hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .contact img{
        width: 80vw;
        margin: auto;
        display: block;
    }
    
    .contact-right{
        margin-top: 1.5rem;
    }
    
    .contact-right label{
        font-weight: bold;
    }
    
    .contact-right .form-control{
        border: none;
    }

    .card-body{
        margin: 0;
        padding: 0;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {

    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
    }

    .banner-img{
        width: 75vw;
    }

    .about-right{
        margin-top: 2rem
    }

    .about img{
        width: 65vw;
        margin: auto;
        display: block;
    }

    .skill{
        margin-top: 1rem;
    }

    .skill .row{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .skill h3{
        font-weight: bold;
        text-align: center;
    }
    
    .skill hr{
        border-top: 4px solid #536DFE;
        width: 6rem;
        margin-bottom: 2rem;
    }
    
    .skill img{
        width: 80vw;
        margin: auto;
        display: block;
    }
    .skill-left{
        margin-top: 2rem;
    }
    
    .skill-left img{
        width: 20vw;
        display: block;
        margin: auto;
    }
    
    .skill-left p{
        text-align: justify;
    }
    
    .skill-left h5{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .skill-left .row{
        margin-top: 4rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .portofolio{
        margin-top: 3rem;
    }
    
    .portofolio h3{
        font-weight: bold;
        text-align: center;
    }
    
    .portofolio hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .portofolio img{
        width: 90vw;
        margin: auto;
        display: block;
    }
    .portofolio-left{
        margin-top: 7rem
    }
    
    .portofolio-left p{
        text-align: justify;
    }
    
    .portofolio-left h5{
        font-size: 28px;
        font-weight: bold;
        color: #536DFE;
    }

    .contact{
        margin-top: 3rem;
    }
    
    .contact h3{
        font-weight: bold;
        text-align: center;
    }
    
    .contact hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .contact img{
        width: 80vw;
        margin: auto;
        display: block;
    }
    
    .contact-right{
        margin-top: 1.5rem;
    }
    
    .contact-right label{
        font-weight: bold;
    }
    
    .contact-right .form-control{
        border: none;
    }
    
}


@media (min-width: 768px) and (max-width: 991.98px) {
    nav{
        min-height: 100px !important;
    }

    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
    }

    .banner-img{
        width: 75vw;
    }

    .about-right{
        margin-top: 2rem
    }

    .about img{
        width: 65vw;
        margin: auto;
        display: block;
    }

    .skill{
        margin-top: 1rem;
    }

    .skill .row{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .skill h3{
        font-weight: bold;
        text-align: center;
    }
    
    .skill hr{
        border-top: 4px solid #536DFE;
        width: 6rem;
        margin-bottom: 2rem;
    }
    
    .skill img{
        width: 80vw;
        margin: auto;
        display: block;
    }
    .skill-left{
        margin-top: 2rem;
    }
    
    .skill-left img{
        width: 20vw;
        display: block;
        margin: auto;
    }
    
    .skill-left p{
        text-align: justify;
    }
    
    .skill-left h5{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .skill-left .row{
        margin-top: 4rem;
        display: flex;
        flex-direction: row-reverse;
    }

    .portofolio{
        margin-top: 3rem;
    }
    
    .portofolio h3{
        font-weight: bold;
        text-align: center;
    }
    
    .portofolio hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .portofolio img{
        width: 90vw;
        margin: auto;
        display: block;
    }
    .portofolio-left{
        margin-top: 7rem
    }
    
    .portofolio-left p{
        text-align: justify;
    }
    
    .portofolio-left h5{
        font-size: 28px;
        font-weight: bold;
        color: #536DFE;
    }

    .contact{
        margin-top: 3rem;
    }
    
    .contact h3{
        font-weight: bold;
        text-align: center;
    }
    
    .contact hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .contact img{
        width: 80vw;
        margin: auto;
        display: block;
    }
    
    .contact-right{
        margin-top: 1.5rem;
    }
    
    .contact-right label{
        font-weight: bold;
    }
    
    .contact-right .form-control{
        border: none;
    }
    
    
}


@media (min-width: 992px) and (max-width: 1199.98px) {

    nav{
        min-height: 100px !important;
    }

    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
    }

    .banner-img{
        width: 40vw;
    }

    .about-right{
        margin-top: 2rem
    }

    .about img{
        width: 35vw;
        margin: auto;
        display: block;
    }

    .skill{
        margin-top: 1rem;
    }
    
    .skill h3{
        font-weight: bold;
        text-align: center;
    }
    
    .skill hr{
        border-top: 4px solid #536DFE;
        width: 6rem;
        margin-bottom: 2rem;
    }
    
    .skill img{
        width: 40vw;
        margin: auto;
        display: block;
    }
    .skill-left{
        margin-top: 2rem;
    }
    
    .skill-left img{
        width: 10vw;
        display: block;
        margin: auto;
    }
    
    .skill-left p{
        text-align: justify;
    }
    
    .skill-left h5{
        font-size: 18px;
        font-weight: bold;
        text-align: center;
    }

    .portofolio{
        margin-top: 3rem;
    }
    
    .portofolio h3{
        font-weight: bold;
        text-align: center;
    }
    
    .portofolio hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .portofolio img{
        width: 90vw;
        margin: auto;
        display: block;
    }
    .portofolio-left{
        margin-top: 7rem
    }
    
    .portofolio-left p{
        text-align: justify;
    }
    
    .portofolio-left h5{
        font-size: 28px;
        font-weight: bold;
        color: #536DFE;
    }
    
    .contact{
        margin-top: 3rem;
    }
    
    .contact h3{
        font-weight: bold;
        text-align: center;
    }
    
    .contact hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .contact img{
        width: 40vw;
        margin: auto;
        display: block;
    }
    
    .contact-right{
        margin-top: 1.5rem;
    }
    
    .contact-right label{
        font-weight: bold;
    }
    
    .contact-right .form-control{
        border: none;
    }
}


@media (min-width: 1200px) {
    nav{
        min-height: 100px !important;
    }
    
    .banner-img{
        width: 35vw;
    }

    .about img{
        width: 25vw;
        margin: auto;
        display: block;
    }

    .skill img{
        width: 35vw;
        margin: auto;
        display: block;
    }
    
    .skill-left img{
        width: 8vw;
        display: block;
        margin: auto;
    }

    .contact img{
        width: 40vw;
        margin: auto;
        display: block;
    }
   
}

