@media (max-width: 575.98px) {
    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
    }

    .banner-img{
        width: 80vw;
    }

   .about-right{
        margin-top: 2rem
    }

    .about img{
        width: 70vw;
        margin: auto;
        display: block;
    }

    .about h3{
        font-size: 20px;
    }

    .about hr{
        border-top: 4px solid #536DFE;
        width: 7rem;
        margin-bottom: 2rem;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
    }

    .banner-img{
        width: 75vw;
    }

    .about-right{
        margin-top: 2rem
    }

    .about img{
        width: 65vw;
        margin: auto;
        display: block;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
    }

    .banner-img{
        width: 75vh;
    }

    .about-right{
        margin-top: 2rem
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}

