@media (max-width: 575.98px) {
    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
    }

    .banner-img{
        width: 80vw;
    }

   .about-right{
        margin-top: 2rem
    }

    .about img{
        width: 70vw;
        margin: auto;
        display: block;
    }

    .about hr{
        border-top: 4px solid #536DFE;
        width: 9rem;
        margin-bottom: 2rem;
    }

    .skill{
        margin-top: 1rem;
    }
    
    .skill h3{
        font-weight: bold;
        text-align: center;
    }
    
    .skill hr{
        border-top: 4px solid #536DFE;
        width: 6rem;
        margin-bottom: 2rem;
    }
    
    .skill img{
        width: 80vw;
        margin: auto;
        display: block;
    }
    .skill-left{
        margin-top: 2rem;
    }
    
    .skill-left img{
        width: 40vw;
        display: block;
        margin: auto;
    }
    
    
    .skill-left p{
        text-align: justify;
    }
    
    .skill-left h5{
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin: 2rem 0px;
    }

    .portofolio{
        margin-top: -3rem;
    }
    
    .portofolio h3{
        font-weight: bold;
        text-align: center;
    }
    
    .portofolio hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .portofolio img{
        width: 90vw;
        margin: auto;
        display: block;
    }
    .portofolio-left{
        margin-top: 7rem
    }
    
    .portofolio-left p{
        text-align: justify;
    }
    
    .portofolio-left h5{
        font-size: 28px;
        font-weight: bold;
        color: #536DFE;
    }
}


@media (min-width: 576px) and (max-width: 767.98px) {
    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
    }

    .banner-img{
        width: 75vw;
    }

    .about-right{
        margin-top: 2rem
    }

    .about img{
        width: 65vw;
        margin: auto;
        display: block;
    }

    .skill{
        margin-top: 1rem;
    }
    
    .skill h3{
        font-weight: bold;
        text-align: center;
    }
    
    .skill hr{
        border-top: 4px solid #536DFE;
        width: 6rem;
        margin-bottom: 2rem;
    }
    
    .skill img{
        width: 80vw;
        margin: auto;
        display: block;
    }
    .skill-left{
        margin-top: 2rem;
    }
    
    .skill-left img{
        width: 40vw;
        display: block;
        margin: auto;
    }
    
    
    .skill-left p{
        text-align: justify;
    }
    
    .skill-left h5{
        font-size: 28px;
        font-weight: bold;
        text-align: center;
        margin: 2rem 0px;
    }

    .portofolio{
        margin-top: -3rem;
    }
    
    .portofolio h3{
        font-weight: bold;
        text-align: center;
    }
    
    .portofolio hr{
        border-top: 4px solid #536DFE;
        width: 11rem;
        margin-bottom: 2rem;
    }
    
    .portofolio img{
        width: 90vw;
        margin: auto;
        display: block;
    }
    .portofolio-left{
        margin-top: 7rem
    }
    
    .portofolio-left p{
        text-align: justify;
    }
    
    .portofolio-left h5{
        font-size: 28px;
        font-weight: bold;
        color: #536DFE;
    }
}


@media (min-width: 768px) and (max-width: 991.98px) {
    .banner{
        margin-top: 3rem;
    }

    .banner-left{
        margin-bottom: 3rem;
    }

    .banner-img{
        width: 75vh;
    }

    .about-right{
        margin-top: 2rem
    }
}


@media (min-width: 992px) and (max-width: 1199.98px) {}


@media (min-width: 1200px) {}

